@font-face{
	font-family: 'cove';
	src: url("coves/Coves_Light.otf") format("opentype");
}

body{
	background-color: #EEEDED ;
	color: black;

}

#vid{
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  z-index: -100;
}

#buttons{
	width:100%;


}


.nav{
	float:right;
	font-family: 'cove', sans-serif;
	font-size: 1.8vw;
	color:black;
	text-decoration: none;
	margin: 1.2%;
	margin-bottom: 8%;
	margin-right:4.5%;
    

}
.button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    border-radius: 25px;
    background: grey;
    padding: 20px;
    width: 150px;
    height: 50px;
    font-size: 2.2vw;
    font-family: 'cove', 'sans-serif';
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;
    

}
.button:hover{
    transform: translateX(-50%) scale(1.1);
}

#home{
	display:none;
	
	font-family: 'cove', sans-serif;
	
}
#title{
    font-size: 3.2vw;
    font-weight: 50;
	position: absolute;
	margin-left: 580px;
	transform: tranlateX(-50%);
	
	
	
    
    
}
#image{
	position: absolute;
	margin-left: 550px;
	margin-top: 100px;
	float: right;
	text-align: center;
	color: black;

}

#image img{
	border-radius: 1%;
	color: black;
}


#quote{
	font-size:1.8vw;
	margin-left:67%;
}

.nav:hover{
	text-decoration: underline;
}
#b1{
	display: none;
}
#b2{
	display: none;
}

#b3{
	display: none;
}
#b4{
	display: none;
}
#description{
	float:right;
	font-family: 'cove', sans-serif;
	font-size: 1.5vw;
	color:black;
	text-decoration: none;
	margin: 1.2%;
	/*margin-bottom: 100%;*/
	margin-right:4.5%;
	text-align: center
	
	
}





@media(min-aspect-ratio: 16/9){
	#vid{
	
		width:100%;
	}
	

}
@media(max-aspect-ratio: 16/9){
	#vid{
		height:auto;
	
	}
	

}