@font-face{
	font-family: 'cove';
	src: url("coves/Coves_Light.otf") format("opentype");
}

body{
	background-color: #EEEDED ;
	color:white;

}

#vid{
	left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  z-index: -100;
}

#buttons{
	width:100%;


}


.nav{
	float:right;
	font-family: 'cove', sans-serif;
	font-size: 2.1vw;
	color:white;
	text-decoration: none;
	margin: 1.2%;
	margin-bottom: 8%;
	margin-right:4.5%;
	

}

#home{
	display:none;
	
	font-family: 'cove', sans-serif;
	
}
#title{
	font-size:4.5vw;
	margin-left:62%;
	margin-bottom:0;
}
#quote{
	font-size:1.8vw;
	margin-left:67%;
}

.nav:hover{
	text-decoration: underline;
}
#b1{
	display: none;
}
#b2{
	display: none;
}

#b3{
	display: none;
}
#b4{
	display: none;
}
@media(min-aspect-ratio: 16/9){
	#vid{
	
		width:100%;
	}
	

}
@media(max-aspect-ratio: 16/9){
	#vid{
		height:auto;
	
	}
	

}